/* -----------------------FONT-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* -------------------------------------------------------------- */

*{
    padding: 0%;
    margin: 0%
}
html, body{
    height: 100%;
font-family: "Inter", sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
}

/* -----------------------------------Cabeçalho------------------------------------------- */

header
{
    background-color: #2A3A4E;
    padding: 2vh;
}
header a
{
    color: white;
    text-decoration: none;
    font-size: 2vh;
}
.menu
{
    display: flex;
    justify-content: space-between;
    gap: 2vh;
}
nav ul
{
    display: flex;
    justify-content: space-between;
}
li
{
    list-style: none;
    color: white;
}

/* ---------------------------A div que pega MAIN e o ASIDE-------------------------- */

.container
{
    display: flex;
    width: 100%;
    flex: 1 0 auto;
}


/* -------------------------Os Blocos da pagina---------------------------- */
.corpo
{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    gap: 5%;
    padding: 2%;
}
.corpo p{
    text-align: center;
    font-size: 15px;
    width: 100%;
}
.bloco1
{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

}
.bloco2
{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.bloco1 div{
    background-color: #ECF0F1;
    border-radius: 10px;
    flex: 1 1 270px;
    padding: 30px;
}
.bloco2 div
{   
    background-color: #ECF0F1;
    border-radius: 5px;
    flex: 1 1 270px;
    padding: 30px;
}


/* -----------------------------Barra lateral------------------------ */

.barra_lateral
{
    background-color: #284057;
    width: 300px; 
    flex: 0 0 300px; 
}
.barra_lateral ul
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.barra_lateral li{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.barra_lateral a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}
.barra_lateral a:hover
{
    background-color: #1d2f41;
}
.barra_lateral a:active
{
    background-color: #151f29;
}


/* -----------------Footer---------------- */

footer
{
    background-color: #2A3A4E;
    color: white;
    padding: 1vh;
}
footer h1
{
    text-align: center;
    color: white;
    font-size: 2vh;
}